<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="example-content">
        <h1>Lista de Examenes de la vista actuales</h1>
        <section *ngIf="getEventBtnClickHeader()">
          <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="setFormUpdate($event)"></app-table>
          <section *ngIf="dataUpdate">
            <ng-container *ngTemplateOutlet="form">
            </ng-container>
          </section>
        </section>
        <section>
          <ng-container *ngIf="getEventBtnClickHeader();else form">
          </ng-container>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  

 
  
<ng-template #form>
  <div class="card">
    <div class="card-body">
        <!-- (ngSubmit)="procesar" -->
        <form [formGroup]="formCreate">
           
          <div class="content-select">
            <div class="mb-2 container-select" #input>
              <mat-label class="form-label">
                Clientes
              </mat-label>
              <mat-select 
                formControlName="cliente" 
                class="form-control form-control-lg"
                [(ngModel)]="Cliente">
                
                <mat-select-trigger  class="select-content">
                  <div class="select-content-id">
                    <i class="fa-solid fa-id-card select-icon select-email"></i>
                  </div>
                  {{Cliente.cedula}}
                  <div class="select-content-name">
                    <i class="fa-regular fa-user select-icon select-user"></i>
                    {{Cliente.nombres}}
                  </div>
                  
                </mat-select-trigger>
                            
                <mat-option *ngFor="let option of cliente" [value]="option" class="select-content">
                  <i class="fa-solid fa-id-card select-icon select-email"></i>
                    {{option.cedula}}
                    <i class="fa-regular fa-user select-icon select-user"></i>
                    {{option.nombres}}
                </mat-option>
              </mat-select>
            </div>  
            <button 
                mat-fab
                extended 
                class="btn-add btn-primary"
                (click)="openDialogWithTemplate(formcliente)">
                  <i class="fa-solid fa-user-plus"></i>
            </button>
          </div>

          <div class="container-picker">
            <div class="mb-2 content-picker">
              <mat-label>Fecha de creacion</mat-label>
              <input 
                type="text"
                [matDatepicker]="picker" 
                class="form-control-picker" 
                placeholder="Fecha de creacion" 
                formControlName="fechaExamen"
                [max]="maxDate"
                [(ngModel)]="selectedDate" 
                (ngModelChange)="formatDate($event)"
                (dateInput)="onDateSelected($event)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker" *ngIf="false"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <!-- <mat-datepicker-toggle [for]="picker"  matIconSuffix class="btn-control-picker"></mat-datepicker-toggle> -->
            
            <button  mat-fab
              extended 
              (click)="picker.open()" 
              class="btn-control-picker">
              <i class="fa-solid fa-calendar-day"></i>
            </button>
          </div>

          <div class="mb-2" #input>
            <label class="form-label">
                Medida del ojo izquierdo
            </label>
            <input type="number" formControlName="ojoIzquierdo" class="form-control form-input"
                placeholder="Ingrese la medida del ojo izquierdo" [(ngModel)]="OjoIzquierdo" >
            <i class="fa-solid fa-arrows-to-eye form-input-icon"></i>
            <div class="alert 1alert-danger mt-1"
                [hidden]="formGet('ojoIzquierdo').valid || (formGet('ojoIzquierdo').pristine)">
                Ingrese la medida del ojo izquierdo
            </div>
          </div>

          <div class="mb-2" #input>
            <label class="form-label">
                Medida del ojo derecho
            </label>
            <input type="number" formControlName="ojoDerecho" class="form-control form-input"
                placeholder="Ingrese la medida del ojo derecho" [(ngModel)]="OjoDerecho" >
            <i class="fa-solid fa-arrows-to-eye form-input-icon"></i>
            <div class="alert alert-danger mt-1"
                [hidden]="formGet('ojoDerecho').valid || (formGet('ojoDerecho').pristine)">
                Ingrese la medida del ojo derecho
            </div>
          </div>
          
          <div class="mb-2" #input>
            <label class="form-label">
                Descripción del lente izquierdo
            </label>
            <input type="text" formControlName="descripLenteIzq" class="form-control form-input"
                placeholder="Ingrese la descripcion del lente izquierdo" [(ngModel)]="DescripLenteIzq" >
            <i class="fa-solid fa-glasses form-input-icon"></i>
            <div class="alert alert-danger mt-1"
                [hidden]="formGet('descripLenteIzq').valid || (formGet('descripLenteIzq').pristine)">
                Descripción del lente izquierdo
            </div>
          </div>

          <div class="mb-2" #input>
            <label class="form-label">
                Descripción del lente derecho
            </label>
            <input type="text" formControlName="descripLenteDer" class="form-control form-input"
                placeholder="Ingrese la descripcion del lente derecho" [(ngModel)]="DescripLenteDer" >
            <i class="fa-solid fa-glasses form-input-icon"></i>
            <div class="alert alert-danger mt-1"
                [hidden]="formGet('descripLenteDer').valid || (formGet('descripLenteDer').pristine)">
                Descripción del lente derecho
            </div>
          </div>
          

          <button class="btn btn-primary" #btnEnviar [disabled]="formCreate.invalid">
            Actualizar
          </button>
        </form>
    </div>
  </div>
</ng-template>

<ng-template #formcliente>
  <div class="template-container">
    <app-form [Title]="'Nuevo Cliente'" [FormD]="formClient" (formData)="onSave($event)"></app-form>
  </div>
</ng-template>