
.card{
    width: calc(100% - 4rem);
    margin: 2rem;
    background: #ffffff;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 2px 0 rgb(150, 155, 160);

    .card-body{
        padding: 1.3rem;
    }

    .form-input{
        border: none;
        height: 2.375rem;
        padding-left: 2.5rem;
        padding-right: 1.25rem;
        background-color: #f0f0f0;
        box-shadow: none;
        border-radius: 0.4rem 1rem 1rem 0.4rem;
        outline: 0;
    }

    .form-input-icon{
        position: relative;
        font-size: 1rem;
        line-height: 2.375rem;
        left: 0.813rem;
        top: -1.7rem;
        color: #74788d;
    }

    
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.content-select{
    width: calc(100%);
    display: flex;
    flex-direction: row;
}

.container-select{
    width: calc(100%);
    .content-key{
        font-size: 16px;
        .icon-select-key{
            color: rgb( 0, 247, 0);
        }
    }
}

.btn-add{
    height: 2.4rem;
    background: #b135ff;
    margin: 1.3rem 0.3rem;
    padding: 0.5rem;
    right: 0;
    border-radius: 0.5rem;
}

.btn-add:hover{
    background-color: rgb(149, 45, 212);
}

.container-picker{
    display: flex;
    flex-direction: row;
    .content-picker{
        width: calc(100%);
        display: flex;
        flex-direction: column;

        .form-control-picker{
            border: 1px solid #8d8d8d;
            height: 2.375rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: #ffffff;
            box-shadow: none;
            border-radius: 0.4rem;
            outline: 0;
        }

        .form-control-picker-hint{
            font-size: 12px;
            color: #959ab3;
            margin-top: -0.3rem;
            margin-left: 1rem;
        }
    }

    .btn-control-picker{
        height: 2.4rem;
        width: 2rem;
        background: linear-gradient(to top, #0051ff, #008cff);
        margin: 1.3rem 0.3rem;
        padding: 0.5rem;
        right: 0;
        border-radius: 0.5rem;
    }

    .btn-control-picker:hover{
        background: linear-gradient(to top, #008cff , #0051ff);
    }
}


.alert{
    background: rgb(248, 215, 218);
    color: #ff0040;
}

/* .template-container{
    width: calc(175%);
} */


.mat-select-value {
    display: flex;
    align-items: center;
}

.mat-select-option{
    display: flex;
    align-items: center;

    
}

.select-content{
    /* height: 2.5rem; */
    display: flex;
    align-items: center;
    /* justify-self: center; */
    /* justify-content: center; */
    /* align-items: center; */

    /* .select-content-id{
        background-color: linear-gradient(to top, green , blue , red); 
    }  */

    .select-content-name{
        align-self: end;
    }

    .select-icon{
        margin-right: 0.2rem;
    }

    .select-email{
        color: #085cf8;
    }

    .select-user{
        margin-left: 3rem;
        color: #f8a408;
    }
    
    
}

