<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div class="normal-search">
                    <input type="search"
                    class="search" name="" id=""
                    placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item btn-group">
                    <!-- <button class="head-menu-item-btn ripple">
                        A
                    </button>
                    <button class="head-menu-item-btn ripple">
                        B
                    </button>
                    <button class="head-menu-item-btn ripple">
                        C
                    </button> -->
                    <!-- <div class="btn-group head-menu-item-btn" role="group" aria-label="Basic example"> -->
                        <button type="button" class="btn btn-secondary head-menu-item-btn">Informacion</button>
                        <button type="button" class="btn btn-secondary head-menu-item-btn">Agregar</button>
                    <!-- </div> -->
                      
                </div>

                <div class="head-user-avatar-container">
                    <div class="head-user-avatar">
                        <img src="../../assets/images/man.png" alt="user-avatar" class="user-avatar">
                        <div class="circle-indicador pulse"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>