.mat-mdc-row:hover .mat-mdc-cell {
    /* border-color: currentColor; */
    border-color: #000;
    background: rgb(217, 170, 247, 0.7);
    cursor: pointer;
  }
  
.class-btn-action{
  width: calc(100%);
  display: inline-block;
  text-align: right;
  /* align-items: flex-end; */
  /* justify-content: space-between; */
}
  
.btnUpdate{
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.active {
  background-color: #c26cf8;

  .menu-collapse-icon,
  .sidenav-link-icon,
  .sidenav-link-text {
      color: #000000;
  }
}