mat-card{
    max-width: 600px;
    margin: 10rem auto;
    /* margin-left: 30rem;
    margin-right: 2rem; */
    text-align: center;
    max-height: 600px;
}

.header{
    text-align:center;
}

.full-width{
    width: 80%;
}

.forgot-password{
    padding-left: 0px;
}

.email-input{
    padding-top: 10px;
}

.aLink{
    float:right;
    padding-right:60px;
    text-decoration:none;
}

.main-container{
  /*  margin-top: 190px 1rem;*/
}