<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="example-content">
        <section *ngIf="getEventBtnClickHeader()">
          <h1>Lista de laboratorios</h1>
          <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="setFormUpdate($event)"></app-table>
        </section>
        <section *ngIf="dataUpdate">
          <app-form [Title]="'Actualizar Laboratorio - '+ dataUpdate.idLaboratorio" [BtnName]="'Actualizar'" *ngIf="dataUpdate" [FormD]="formUpdate"></app-form>
        </section>
      </div>
      <section *ngIf="!getEventBtnClickHeader()">
        <app-form [Title]="'Nuevo Laboratorio'" [FormD]="formCreate"></app-form>
      </section>
      
    </mat-sidenav-content>
      
</mat-sidenav-container>  


