<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="example-content">
        <section *ngIf="getEventBtnClickHeader()">
          <section *ngIf="!dataUpdate">
            <h1>Lista de laboratorios</h1>
            <app-table [data]="myData$" 
            [columns]="tableColumns" 
            (selectItemsCell)="setFormUpdate($event)" 
            [buttonShowdelete]="true"
            [buttonShowdelete]="true"
            (selectItemsCellDelete)="confirmeDeleteData($event)"></app-table>
          </section>
          <section *ngIf="dataUpdate">
            <app-form [Title]="'Actualizar Laboratorio - '+ dataUpdate.nombre"
              [BtnName]="'Actualizar'"
              *ngIf="dataUpdate" 
              [FormD]="formUpdate"
              [BtnCancel]="true"
              (btnCancel)="eventCancelFormUpdate()"
              (formData)="loadConfirmationDataUpdate($event)"></app-form>
          </section>
        </section>
      </div>
      <section *ngIf="!getEventBtnClickHeader()">
        <app-form 
          [Title]="'Nuevo Laboratorio'"
          [FormD]="formCreate"
          (formData)="loadConfirmationDataCreate($event)"></app-form>
      </section>
      
    </mat-sidenav-content>
      
</mat-sidenav-container>  


