<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="example-content">
      <h1>Lista de productos actuales</h1>
      <section *ngIf="getEventBtnClickHeader()">
        <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="setFormUpdate($event)"></app-table>
        
        <section *ngIf="dataUpdate">
          <div class="card">
            <div class="card-body">
                <!-- (ngSubmit)="procesar" -->
                <form [formGroup]="form">
                   
                  <div class="content-select">
                    <div class="mb-2 container-select" #input>
                      <mat-label class="form-label">
                        Marca
                      </mat-label>
                      <mat-select 
                        formControlName="marca" 
                        class="form-control form-control-lg"
                        [(value)]="marca">
                          <mat-option *ngFor="let option of Marcas" [value]="option.marca">
                              {{option.marca}}
                          </mat-option>
                      </mat-select>
                    </div>  
                    <button 
                        mat-fab
                        extended 
                        class="btn-add btn-primary">
                          <i class="fa-solid fa-plus"></i>
                    </button>
                  </div>
                  
                  
                   
                  <div class="mb-2" #input>
                      <label class="form-label">
                          Nombre del producto
                      </label>
                      <input type="text" formControlName="nombre" class="form-control form-input"
                          placeholder="Ingrese el nombre del producto" [(ngModel)]="nombreProducto" >
                      <i class=" fa-solid fa-feather form-input-icon"></i>
                      <div class="alert alert-danger mt-1"
                          [hidden]="formGet('nombre').valid || (formGet('nombre').pristine)">
                          Ingrese el nombre del producto
                      </div>
                  </div>
        
                  <div class="mb-2" #input>
                    <label class="form-label">
                        Precio unitario
                    </label>
                    <input type="number" formControlName="precioActual" class="form-control form-input"
                        placeholder="Ingrese el precio actual del producto" [(ngModel)]="precioActual" >
                    <i class=" fa-solid fa-feather form-input-icon"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGet('nombre').valid || (formGet('nombre').pristine)">
                        Ingrese el precio unitario de producto
                    </div>
                </div>
        
                <div class="mb-2" #input>
                  <mat-label class="form-label">
                    Estado del producto
                  </mat-label>
                  <mat-select 
                    formControlName="estadoProducto" 
                    class="form-control form-control-lg"
                    [(value)]="estadoProducto">
                      <mat-option *ngFor="let option of EstadoProducto" [value]="option">
                          {{option}}
                      </mat-option>
                  </mat-select>
                </div>
                
        
                  <button class="btn btn-primary" #btnEnviar [disabled]="form.invalid">
                    Actualizar
                  </button>
                </form>
            </div>
          </div>
        
        </section>
      </section>
      <section *ngIf="!getEventBtnClickHeader()">
        <app-form [FormD]="formProducto"></app-form>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 


