  <mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="example-content">
        <h1>Lista de contactos de clientes</h1>
        <section *ngIf="getEventBtnClickHeader()">
          <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="setFormUpdate($event)"></app-table>
          <section *ngIf="dataUpdate">
            <app-form [BtnName]="'Actualizar'" *ngIf="dataUpdate" [FormD]="formClientUpdate" (formData)="dataUpdateDB($event)"></app-form>
          </section> 
        </section>
        <section *ngIf="!getEventBtnClickHeader()">
          <app-form [FormD]="formTelefonoCliente" (formData)="dataCreateTelefonoBD($event)"></app-form>
        </section>
        <section *ngIf="!getEventBtnClickHeader()">
          <app-form [FormD]="formCorreoCliente" (formData)="dataCreateCorreoBD($event)"></app-form>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  
 
