<mat-sidenav-container class="example-container">
    <mat-sidenav-content>
      <div class="example-content">
        <section *ngIf="getEventBtnClickHeader()">
          <section *ngIf="!dataUpdate">
            <h1>Lista de empleados</h1>
            <app-table [data]="myData$" 
            [columns]="tableColumns"
             (selectItemsCell)="resultTableDataUpdate($event)" [buttonShowdelete]="true"></app-table>
          </section>
          <section *ngIf="dataUpdate">
            <app-form 
            [Title]="'Actualizar datos del empleado'"
            [BtnCancel]="true"
            (formData)="loadConfirmationDataUpdate($event)"
            [BtnName]="'Actualizar'"
            *ngIf="dataUpdate" 
            [FormD]="form"
            (btnCancel)="cancelFormUpdate()"></app-form>
          </section>
        </section>
        <section *ngIf="!getEventBtnClickHeader()">
          <app-form 
            [Title]="'Agregar datos del empleado'"
            (formData)="loadConfirmationDataCreate($event)"
            [BtnName]="'Agregar'"
            [FormD]="form"></app-form>
        </section>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  
