<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="example-content">
      <section *ngIf="getEventBtnClickHeader()">
        <section *ngIf="!dataUpdate">
          <h1>Lista de productos proveído</h1>
          <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="resultUpdateData($event)"></app-table>
        </section>
        <section *ngIf="dataUpdate">
          <ng-container *ngTemplateOutlet="formUpdate"></ng-container>
        </section>
      </section>
      <section *ngIf="!getEventBtnClickHeader()">
        <ng-container *ngTemplateOutlet="formCreate"></ng-container>
        <!-- <ng-container *ngIf="getEventBtnClickHeader();else form">
        </ng-container> -->
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



<ng-template #tableProveedor>
  <app-table-simple [data]="proveedorList" [columns]="tableColumnsProveedor"
    (selectItemsCell)="resultTableDataProveedor($event)" (cancelTable)="cancelDialogResult()"></app-table-simple>
</ng-template>

<ng-template #tableProducto>
  <app-table-simple [data]="tableDataProducto" [columns]="tableColumnsProducto"
    (selectItemsCell)="resultTableDataProducto($event)" (cancelTable)="cancelDialogResult()"></app-table-simple>
</ng-template>

<ng-template #tableBodega>
  <app-table-simple [data]="bodegaList" [columns]="formColumnsTableBodega"
    (selectItemsCell)="getDataTableBodega($event)" (cancelTable)="cancelDialogResult()"></app-table-simple>
</ng-template>

<ng-template #formCreate>
  <div class="card">
    <div class="card-body">
      <div class="container-header">
        <h1 class="title">
          Agregar información del producto proveído
        </h1>
      </div>
      <form [formGroup]="formCreateData">
        <div class="content-select">
          <div class="mb-2 container-select" #input>
            <label class="form-label">
              Seleccione El producto *
            </label>
            <input type="text" formControlName="producto" class="form-control form-input"
              placeholder="Seleccione el producto" [(ngModel)]="Producto.descripcion" readonly>
            <!--[(ngModel)]="OjoIzquierdo">-->
            <i class="fa-solid fa-address-card form-input-icon"></i>
            <div class="alert 1alert-danger mt-1"
              [hidden]="formGetDataCreate('producto').valid || (formGetDataCreate('producto').pristine)">
              Seleccione un producto
            </div>
          </div>
          <button mat-fab extended class="btn-add btn-primary" (click)="openDialogWithTemplate(tableProducto)">
            <i class="fa-solid fa-address-card"></i>
          </button>
        </div>

        <div class="content-select">
          <div class="mb-2 container-select" #input>
            <label class="form-label">
              Seleccione El proveedor *
            </label>
            <input type="text" formControlName="proveedor" class="form-control form-input"
              placeholder="Seleccione el proveedor" [(ngModel)]="Proveedor.nombre" readonly>
            <!--[(ngModel)]="OjoIzquierdo">-->
            <i class="fa-solid fa-address-card form-input-icon"></i>
            <div class="alert 1alert-danger mt-1"
              [hidden]="formGetDataCreate('proveedor').valid || (formGetDataCreate('proveedor').pristine)">
              Seleccione un proveedor
            </div>
          </div>
          <button mat-fab extended class="btn-add btn-primary" (click)="openDialogWithTemplate(tableProveedor)">
            <i class="fa-solid fa-address-card"></i>
          </button>
        </div>

        <div class="content-select">
          <div class="mb-2 container-select" #input>
            <label class="form-label">
              Seleccione la bodega *
            </label>
            <input type="text" formControlName="bodega" class="form-control form-input"
              placeholder="Seleccione la bodega" [(ngModel)]="Bodega.nombre" readonly> <!--[(ngModel)]="OjoIzquierdo">-->
            <i class="fa-solid fa-store form-input-icon"></i>
            <div class="alert 1alert-danger mt-1"
              [hidden]="formGetDataCreate('bodega').valid || (formGetDataCreate('bodega').pristine)">
              Seleccione una bodega
            </div>
          </div>
          <button mat-fab extended class="btn-add btn-primary" (click)="openDialogWithTemplate(tableBodega)">
            <i class="fa-solid fa-store"></i>
          </button>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Fecha de obtencion del producto
          </label>
          <input type="text" formControlName="fechaObtencion" class="form-control form-input"
            placeholder="Fecha de obtencion" [(ngModel)]="FechaObtencion.fechaObtencion" readonly>
          <!--[(ngModel)]="OjoIzquierdo">-->
          <i class="fa-solid fa-calendar-days form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('fechaObtencion').valid || (formGetDataCreate('fechaObtencion').pristine)">
            Ingrese la Fecha del producto
          </div>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Cantidad de productos *
          </label>
          <input type="number" formControlName="cantidad" class="form-control form-input"
            placeholder="Ingrese la cantidad del producto" [(ngModel)]="ProveedorProducto.cantidad">
          <!--[(ngModel)]="OjoIzquierdo">-->
          <i class="fa-solid fa-pencil form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('cantidad').valid || (formGetDataCreate('cantidad').pristine)">
            El campo no puede estar vacio
          </div>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Costo por todo el producto *
          </label>
          <input type="number" formControlName="costo" class="form-control form-input"
            placeholder="Ingrese el costo del producto" [(ngModel)]="ProveedorProducto.costo">
          <i class="fa-solid fa-circle-dollar-to-slot form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('costo').valid || (formGetDataCreate('costo').pristine)">
            Ingrese el costo por todo el producto
          </div>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Precio del producto
          </label>
          <input type="number" formControlName="precio" class="form-control form-input"
            placeholder="Precio del producto" [(ngModel)]="Producto.precioActual">
          <i class="fa-solid fa-circle-dollar-to-slot form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('precio').valid || (formGetDataCreate('precio').pristine)">
            Precio del producto
          </div>
        </div>
        <button class="btn btn-primary" #btnEnviar [disabled]="formCreateData.invalid"
          (click)="loadConfirmationDataCreate()">
          Guardar
        </button>
      </form>
    </div>
  </div>

</ng-template>

<ng-template #formUpdate>
  <div class="card">
    <div class="card-body">
      <div class="container-header">
        <h1 class="title">
          Actualizar información del producto proveído
        </h1>
        <button mat-fab extended class="btnUpdate btn-danger" (click)="cancelFormUpdate()">
          Cerrar
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <form [formGroup]="formUpdateData">

        <div class="mb-2" #input>
          <label class="form-label">
            Proveedor
          </label>
          <input type="text" formControlName="proveedor" class="form-control form-input"
            placeholder="Ingrese el costo del producto" [(ngModel)]="Proveedor.nombre" readonly>
          <i class="fa-solid fa-address-card form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('proveedor').valid || (formGetDataCreate('proveedor').pristine)">
          </div>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Producto
          </label>
          <input type="text" formControlName="producto" class="form-control form-input"
            placeholder="Ingrese el costo del producto" [(ngModel)]="Producto.descripcion" readonly>
          <i class="fa-solid fa-address-card form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('producto').valid || (formGetDataCreate('producto').pristine)">
            El campo no puede estar vacio
          </div>
        </div>

        <div class="content-select">
          <div class="mb-2 container-select" #input>
            <label class="form-label">
              Bodega *
            </label>
            <input type="text" formControlName="bodega" class="form-control form-input"
              placeholder="Seleccione la bodega" [(ngModel)]="Bodega.nombre" readonly> <!--[(ngModel)]="OjoIzquierdo">-->
            <i class="fa-solid fa-store form-input-icon"></i>
            <div class="alert 1alert-danger mt-1"
              [hidden]="formGetDataCreate('bodega').valid || (formGetDataCreate('bodega').pristine)">
              Seleccione una bodega
            </div>
          </div>
          <button mat-fab extended class="btn-add btn-primary" (click)="openDialogWithTemplate(tableBodegaR)">
            <i class="fa-solid fa-store"></i>
          </button>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Cantidad de productos *
          </label>
          <input type="number" formControlName="cantidad" class="form-control form-input"
            placeholder="Ingrese la cantidad del producto" [(ngModel)]="ProveedorProducto.cantidad">
          <!--[(ngModel)]="OjoIzquierdo">-->
          <i class="fa-solid fa-pencil form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('cantidad').valid || (formGetDataCreate('cantidad').pristine)">
            El campo no puede estar vacio
          </div>
        </div>

        <div class="mb-2" #input>
          <label class="form-label">
            Costo por todo el producto *
          </label>
          <input type="number" formControlName="costo" class="form-control form-input"
            placeholder="Ingrese el costo del producto" [(ngModel)]="ProveedorProducto.costo">
          <i class="fa-solid fa-circle-dollar-to-slot form-input-icon"></i>
          <div class="alert alert-danger mt-1"
            [hidden]="formGetDataCreate('costo').valid || (formGetDataCreate('costo').pristine)">
            Ingrese el costo por todo el producto
          </div>
        </div>

        <button class="btn btn-primary" #btnEnviar [disabled]="formUpdateData.invalid"
          (click)="loadConfirmationDataUpdate()">
          Actualizar
        </button>

      </form>
    </div>
  </div>
</ng-template>


<ng-template #tableBodegaR>
  <app-table-simple [data]="bodegaRList" [columns]="formColumnsTableBodega"
    (selectItemsCell)="getDataTableBodega($event)" (cancelTable)="cancelDialogResult()"></app-table-simple>
</ng-template>