.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  mat-card{
    max-width: 600px;
    margin: 10rem auto;
    /* margin-left: 30rem;
    margin-right: 2rem; */
    text-align: center;
    max-height: 600px;
}
.texto-pequeno {
  font-size: 14px;
}

.texto-grande {
  font-size: 24px;
}

.texto-mediano {
  font-size: 18px;
}