 <!-- <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" ></mat-icon>
    </button>
    <span >Central Optic</span>
  </mat-toolbar> -->

  
  

  <div class="card">
    <div class="card-body">
        <form [formGroup]="formUser" (ngSubmit)="procesar()">
            <div class="mb-2">
                <label class="form-label">
                    Nombre
                </label>
                <input type="text" formControlName="name" class="form-control" placeholder="Por ingrese su nombre">

                <div class="alert alert-danger mt-1" [hidden]="name.valid|| name.pristine">
                    El nombre es bligatorio
                </div>

            </div>
            <div class="mb-2">
                <label class="form-label">
                    Email
                </label>
                <input type="email" formControlName="email" class="form-control" placeholder="Por ingrese su email">

                <div class="alert alert-danger mt-1"
                [hidden]="result('email').valid || result('email').pristine">
                    <span *ngIf="email.errors?.['required']">
                        El Emain es obligatorio
                    </span>
                    <span *ngIf="email.errors?.['email']">
                        El Emain debe ser valido
                    </span>
                </div>

            </div>

            <button class="btn btn-primary" [disabled]="formUser.invalid">
                Enviar
            </button>

        </form>
    </div>
</div>


