 <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" ></mat-icon>
    </button>
    <span>Central Optic</span>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-container">
      <mat-nav-list>
        <a mat-list-item >Clientes</a>
        <a mat-list-item>Inventario</a>
        <a mat-list-item>Bodega</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="example-content">
        <h1>Lista de clientes actuales</h1>
        <section>
          <app-table [data]="myData$" [columns]="tableColumns"></app-table>
        </section>
        <!-- <ul>
          <li *ngFor="let item of myData$ | async">
            <h2>Cédula:{{ item.cedula }}</h2><br>
            <h4>Nombres: {{ item.nombres }}</h4><br>
            <h4>Apellidos:   {{ item.apellidos }}</h4><br>
            <h4>Dirección:   {{ item.direccion }}</h4><br>
          </li>
        </ul> -->
<!--Esto es temporal solo para mostrar los datos-->
         <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>  


