<mat-sidenav-container class="example-container">
  <mat-sidenav-content>

    <div class="container">

      <div class="row align-items-center">
        
        <div class="col">

          <img mat-card-image src="../../assets/images/logo.svg" alt="Central Optic logo"
        style="width: 500px; height: 600px;">

        </div>

        <div class="col">
          <h1><strong>Bienvenido {{Nombre}}</strong></h1>
          <h3> Este es un sistema de informacion web del control de inventario y facturacion.</h3>
          <h3> En el navegador del costado izquierdo, se indica las opciones con las que se puede interactuar.</h3>
          <h3> Para tener mas informacion de las opciones, de click en el icono del logo que aparece en el mismo
            navegador
            del costado izquierdo.</h3>
        </div>

      </div>

      <div class="row">

          <div class="col-1"></div>

          <button type="button" class="btn btn-primary col a" routerLink="/ayuda"> <i class="fa-solid fa-circle-info"></i> Ayuda</button>
        
          <div class="col-1"></div>

          <button type="button" class="btn btn-danger col a" routerLink="/login"  (click)="OnclickLogout()"> <i class="fa-solid fa-door-closed"></i> Cerrar sesion</button>
        
          <div class="col-1"></div>

          <button type="button" class="btn btn-success col a" (click)="scrollToSection('Reportes')"> <i class="fa-solid fa-pen-to-square"></i> Reportes </button>

          <div class="col-1"></div>
      
      </div>


      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>

      <div class="row justify-content-md-center">
        <div class="col-3">
          <h1><strong id="Reportes">Reportes del sistema</strong></h1>
        </div>
      </div>

      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              
                <h3><strong >Productos mas vendidos</strong></h3>
              
              <app-bar-chart [data]="ProductosMasVendidos"></app-bar-chart>

            </div>
          </div>
        </div>
        <div class="col">
           <div class="card">
            <div class="card-body">
              
                <h3><strong >Productos mas vendidos</strong></h3>
              
                <h5> 1 - Codigo: {{DescripcionProducto[0].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[0].descripcion}} </h5>
                <h5> 2 - Codigo: {{DescripcionProducto[1].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[1].descripcion}} </h5>
                <h5> 3 - Codigo: {{DescripcionProducto[2].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[2].descripcion}} </h5>
                <h5> 4 - Codigo: {{DescripcionProducto[3].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[3].descripcion}} </h5>
                <h5> 5 - Codigo: {{DescripcionProducto[4].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[4].descripcion}} </h5>
                <h5> 6 - Codigo: {{DescripcionProducto[5].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[5].descripcion}} </h5>
                <h5> 7 - Codigo: {{DescripcionProducto[6].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[6].descripcion}} </h5>
                <h5> 8 - Codigo: {{DescripcionProducto[7].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[5].descripcion}} </h5>
                <h5> 9 - Codigo: {{DescripcionProducto[8].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[6].descripcion}} </h5>
                <h5> 10 - Codigo: {{DescripcionProducto[9].codProducto}} &nbsp; Descripcion: {{DescripcionProducto[5].descripcion}} </h5>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="col">
          Column
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <app-line-chart class="home"></app-line-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <app-pie-chart></app-pie-chart>
            </div>
          </div>
        </div>
        <div class="col">
          Column
        </div>
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        &nbsp;
      </div>
      <div class="row">
        <div class="col">
          Column
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <app-polar-area-chart class="home"></app-polar-area-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <app-dialog-alerta></app-dialog-alerta> -->
    <!-- <button (click)="showAlert()">tocar</button> -->
  </mat-sidenav-content>


</mat-sidenav-container>