<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <div class="example-content">
      <section *ngIf="getEventBtnClickHeader()">
        <section *ngIf="!dataUpdate">
          <h1>Lista de proveedores</h1>
          <app-table [data]="myData$" [columns]="tableColumns" (selectItemsCell)="setFormUpdate($event)"></app-table>
        </section>
        <section *ngIf="dataUpdate">
          <app-form [Title]="'Actualizar proveedor - '+ dataUpdate.idProveedor" [BtnName]="'Actualizar'"
            [FormD]="formUpdate" (formData)="loadConfirmationDataUpdate($event)" [BtnCancel]="true"
            (btnCancel)="cancelFormUpdate()"></app-form>

        </section>
      </section>
      <section *ngIf="!getEventBtnClickHeader()">
        <app-form [Title]="'Agregar un nuevo proveedor'" [FormD]="formCreate"
          (formData)="loadConfirmationDataCreate($event)"></app-form>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
